@import "compass/css3";
@import "_normal.scss";

// =============================================================================
// $VARIBALES & MIXINS
// =============================================================================

$pit-blue : hsl(200, 100%, 45%);

@mixin page-padding{
  padding-right: 4%;
  padding-left: 4%;
}




// =============================================================================
// $GLOBAL STYLES
// =============================================================================
