@import "compass/css3";
@import "_normal.scss";

img{
  width: 250px;
  height: 250px;

  @include transition-property(background);
  @include transition-duration(.3s);

  &:hover,
  &:active
  {
    background: hsl(40,100,50);
  }
}

p{
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  font-style: italic;
  font-family: georgia;
  color: hsl(0,0,75);
}

div{
  width: 250px;
  height: 250px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -155px 0 0 -125px;

  animation: bg-color 30s infinite;
  -webkit-animation: bg-color 30s infinite;
  -moz-animation: bg-color 30s infinite;
  -o-animation: bg-color 30s infinite;
}

@keyframes bg-color{
  0%{background: hsl(320,100,50);}
  25%{background: hsl(200,100,50);}
  50%{background: hsl(320,100,50);}
  75%{background: hsl(200,100,50);}
  100%{background: hsl(320,100,50);}
}

@-webkit-keyframes bg-color{
  0%{background: hsl(320,100,50);}
  25%{background: hsl(200,100,50);}
  50%{background: hsl(320,100,50);}
  75%{background: hsl(200,100,50);}
  100%{background: hsl(320,100,50);}
}

@-moz-keyframes bg-color{
  0%{background: hsl(320,100,50);}
  25%{background: hsl(200,100,50);}
  50%{background: hsl(320,100,50);}
  75%{background: hsl(200,100,50);}
  100%{background: hsl(320,100,50);}
}

@-o-keyframes bg-color{
  0%{background: hsl(320,100,50);}
  25%{background: hsl(200,100,50);}
  50%{background: hsl(320,100,50);}
  75%{background: hsl(200,100,50);}
  100%{background: hsl(320,100,50);}
}
